.home-header {
  column-gap: 600px;
  &__text-contaier {
    font-size: 18px;
  }
}

.home-main__background-img {
  figure:nth-child(1) {
    bottom: 0;
    left: -100px;
    width: 500px;
  }
  figure:nth-child(2) {
    bottom: 0;
    right: -50px;
    width: 420px;
  }
  figure:nth-child(3) {
    display: none;
    bottom: 50%;
    left: 50%;
  }
}

.calc-container {
  &__title {
    width: 350px;
    font-size: 20px;
  }
  &__number {
    font-size: 18px;
  }
  &__button {
    font-size: 19px;
  }
}