.home-header {
  position: relative;
  padding-block-start: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color: $fondo, $alpha: 0.2);
  @include secciones(140px);
  &__text-contaier {
    margin-block-end: 20px;
    font-family: $titulos;
    font-size: 1.6rem;
    text-align: center;
    p:nth-child(1) {
      margin-block-end: 5px;
    }
  }
  &__icon {
    width: 35px;
    height: 35px;
    position: relative;
    span {
      width: 100%;
      height: 3px;
      display: block;
      position: absolute;
      left: 0;
      background-color: $tema6;
    }
    span:nth-child(1) {
      top: 3px;
    }
    span:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    span:nth-child(3) {
      bottom: 3px;
    }
  }
  &__line {
    width: 70%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: black;
  }
}